<a href="https://colab.research.google.com/github/ValentinaMarta/Tarea1_Python/blob/main/Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Listas

In [37]:
# Definir una lista de tipo String
nombres = ['Alicia','Chantell','Roxana', 'Oliris']
# imprimir la lista nombres
print(nombres)
# Definir una lista de tipo int
numeros = [1,2,4,8,99,0,34,556,0]
print(numeros)

['Alicia', 'Chantell', 'Roxana', 'Oliris']
[1, 2, 4, 8, 99, 0, 34, 556, 0]

In [38]:
# acceder a los elementos de un a lista
print(nombres[0])
print(numeros[7])

Alicia
556

In [39]:
# acceder a los elementos de manera inversa
print(nombres[-4])
print(numeros[-2])

Alicia
556

In [40]:
#imprime 0,1,2 la posicion 3 no la imprime
print(nombres[0:3]) 
#imprime 1,2 la posicion 3 no la imprime
print(numeros[1:3])
#imprime -3 y -4 la -1 y -2 no la imprime
print(nombres[:-2])
#imprime hasta la posicion 3(no incluida)
print(numeros[:3])

['Alicia', 'Chantell', 'Roxana']
[2, 4]
['Alicia', 'Chantell']
[1, 2, 4]

In [41]:
print(nombres)
print(numeros)
#inserta un nuevo valor en una posicion
nombres.insert(3, "Oliris") 
numeros.insert(3, 100) 
print(numeros)
#borra todo lo que hay a partir de la posicion 3
del numeros[3:]
print(nombres)
print(numeros)
#limpia la lista pero no la borra
nombres.clear()
numeros.clear()
print(nombres)
print(numeros)

['Alicia', 'Chantell', 'Roxana', 'Oliris']
[1, 2, 4, 8, 99, 0, 34, 556, 0]
[1, 2, 4, 100, 8, 99, 0, 34, 556, 0]
['Alicia', 'Chantell', 'Roxana', 'Oliris', 'Oliris']
[1, 2, 4]
[]
[]

In [42]:
# borrar la lista por completo
del nombres
del numeros