<a href="https://colab.research.google.com/github/ValentinaMarta/Tarea1_Python/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuplas

In [2]:
#Definir una tupla
nombres = ('Alex', 'Raúl', 'Eduardo','Jimena','Marta','Raquel','Amelia')
print(nombres)

('Alex', 'Raúl', 'Eduardo', 'Jimena', 'Marta', 'Raquel', 'Amelia')

In [3]:
#muestra la longitud de la tupla del 1 al ultimo-->esto no lo entiendo muy bien (porque empieza en 1)
print(len(nombres))

7

In [4]:
#acceder a un elemento,empieza a contar de 0
print(nombres[4])

Marta

In [8]:
# navegación inversa, empieza a contar desde -1
print(nombres[-3])

Marta

In [9]:
# acceder a un rango
print(nombres[2:3])# sin incluir el último índice

('Eduardo',)

In [10]:
#recorre tupla e imprime el valor de cada elemento sin coma ni comillas
for i in nombres:
    print(i, end=' ')

Alex Raúl Eduardo Jimena Marta Raquel Amelia

In [17]:
#convertir una tupla en lista
listaNombres = list(nombres)
print(listaNombres)

['Alex', 'Raúl', 'Eduardo', 'Jimena', 'Marta', 'Raquel', 'Amelia']

In [18]:
#insertamos un elemento en una posicion determinada
listaNombres[0]='nombre prueba'
print(listaNombres)
listaNombres[3]='nombre prueba posicion 3'
print(listaNombres)

['nombre prueba', 'Raúl', 'Eduardo', 'Jimena', 'Marta', 'Raquel', 'Amelia']
['nombre prueba', 'Raúl', 'Eduardo', 'nombre prueba posicion 3', 'Marta', 'Raquel', 'Amelia']

In [20]:
#convertir una lista en tupla
nombres = tuple(listaNombres)
print(nombres)

('nombre prueba', 'Raúl', 'Eduardo', 'nombre prueba posicion 3', 'Marta', 'Raquel', 'Amelia')

In [34]:
#cambiar valor tupla, en la posicion 0 cambiamos 'nombre prueba' por 'Africa'
listaNombres = list(nombres)
listaNombres[0] = 'Africa'
nombres = tuple(listaNombres)
print(nombres)
#imprime con salto de linea
for i in nombres:
  print(i)
#mostrar posiciones de la tupla
for i in range(len(nombres)):
  print(i,end=" ")

('Africa', 'Raúl', 'Eduardo', 'nombre prueba posicion 3', 'Marta', 'Raquel', 'Amelia')
Africa
Raúl
Eduardo
nombre prueba posicion 3
Marta
Raquel
Amelia
0 1 2 3 4 5 6

In [36]:
#Eliminar una tupla
del nombres
#si fueramos a imprimir ahora daria error porque ya no existe

NameError: ignored